target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
docker-compose.yml
.env
discord-bot/.env

java-backend/.idea/
### IntelliJ IDEA ###
java-backend/.idea/modules.xml
java-backend/.idea/jarRepositories.xml
java-backend/.idea/compiler.xml
java-backend/.idea/libraries/
java-backend/.idea/dbnavigator.xml
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/dbnavigator.xml
.idea/dbnavigator.xml
